body {
    background-color: #f0f8f5;  
 
  }
 
  /* Next & Previous Button Color */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(100%);
  }
  
  
  /* Custom CSS for Carousel Indicators */
  .carousel-indicators button {
      background-color: black !important;  /* Indicator color black kar diya */
      width: 12px !important;  /* Size adjust kiya */
      height: 12px !important;
      border-radius: 50%;
      border: 2px solid white !important; /* White outline diya taaki clearly dikhe */
      opacity: 1 !important;
    }
    
    .carousel-indicators .active {
      background-color: white !important; /* Active indicator red hoga */
    }
  
    .carousel-item img {
      width: 80%;
      height: 500px; 
      object-fit: cover;
      border-radius: 10px;
     display: block;
      cursor: pointer;
    }
    
    /* Indicators ki position fix karna */
    .carousel-indicators {
      bottom:  10px; /* Fixed position */
    
    }
    
    .carousel-control-prev, .carousel-control-next {
      top: 5%; 
     
    }
    .heading-title{
        color: #333;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
.info-card {
    width: 20rem;
    margin: 15px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    background-color: white;
    color: #333333;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .info-card:hover {
    transform: scale(1.05);
  }
  
  .about-section {
    background-color: #2d6a4f; /* Dark Green */
    color: #fff; /* Dark background for contrast */
    padding: 20px;
    font-weight: bold;
    border-radius: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
  .about-section h2{
    color: white;
  }
  .card-link{
    text-decoration: none;
    color: inherit;    

  }
