.login-btn {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .login-btn:hover {
    background-color: #45a049;
    transform: scale(1.1);
  }
  
  @media (max-width: 768px) {
    .login-btn {
      padding: 8px 15px;
      font-size: 0.9rem;
    }
  }
  